body{
background-color: rgb(6, 6, 6);
color:red;
font-family: sans-serif;
margin: 0px;
}
h1{

    color:floralwhite;
    font-size: 40px;
}
p{
    font-size: 25px;
}
header{
    border-bottom: solid 3x crimson;
    margin: 2px;
    padding: 10px;
color:aliceblue;
}
.chamada{
    background:rgb(118, 107, 107);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 8%;
}
img{
    height: 200px;
}
.categoria-video {
    display:flex;
    overflow-x: auto; 
    gap:15px;
    padding: 20px;
    scroll-behavior: smooth;
}
.categoria-video::-webkit-scrollbar{
    height: 8px;
}
.categoria-video::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius:4px;
}

.categoria{
    padding: left 20px;
    padding: right 20px;
}